# OS
.DS_Store

# Python
__pycache__/
*.pyc

# Node
node_modules/

# Ansible
*.retry
.env
.venv/

# Logs
logs/
*.log

# Terraform (if added later)
.terraform/
*.tfstate
*.tfstate.*
crash.log
RESUME.md
.history/
.kiro/
