---
extends: default

rules:
  line-length:
    max: 120
    level: error
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
  comments:
    min-spaces-from-content: 1
  truthy:
    allowed-values: ["true", "false"]
    check-keys: false

ignore: |
  .venv/
  .history/
  .hypothesis/
  .pytest_cache/
  group_vars/*/vault.yml
